@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@200&family=Ubuntu:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
header {
   background-color: #fca311;
   color: white;
   text-align: center;
   padding: 1em 0;
 }

 nav {
   margin-top: 10px;
 }
 
 nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: center;
 }
 
 nav ul li {
   margin: 0 10px;
 }
 
 nav ul li a {
   text-decoration: none;
   color: white;
 }
 
 
p{
    font-family: 'Montserrat', sans-serif;
    color: #e5e5e5;
    padding: 25px;
}
li{
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    color: #fca311;
    padding: 5px;
    
}
.img-list li {
    flex-direction: row;
   

}
img{
     border-style: solid;
    border-width: 5px;
    border-color: #fca311;


}
h1{
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    padding-top: 10px;
}
body{
    background-color:#14213d ;
}
ul{ 
    list-style-type: none;
display: flex;}



 .sesion-form{
   margin: 5%;
 }
 .sesion-form h2{
   padding-left: 4% ;
    color: #fca311;

 }
 .result, .vote{
    padding-left: 4%;
    width: 50%;
    min-height: 200px;
 }
 
 h3{
    color: #ffffff;
    background-color: #14213d;
    border-style:solid;
    border-width:1% ;
    border-right-style: none ;
    border-color: white;
 }
 .vote h3{
   border-style:solid;
    border-width:1% ;
    border-left-style: none ;
    border-top-style: none ;
    border-right-style: none ;
    border-color: white;
    margin-left:-8.4% ;
 }
 .result ol {
    background-color: #14213d;
    border-style:solid;
    border-top-style: none ;
    border-right-style: none ;
    border-left-width:1% ;
    border-right-width:1% ;
    height:86.4%;
    border-color: white;
    padding-left: 5%;
 }

 .form{
    display: flex;
 }
 .vote{
    background-color: #14213d;
    border-style: solid;
    border-width: 1%;
    border-color: white;
    
 }
 .form-box{
    color: #fca311;
    padding-top:1% ;
 } 
 .vote input[type= "text"]{
    font-size: 12px;
  margin-left: 10px;
  width: 90%;
  height: 25%;
  border-radius: calc(height/2);
 }

 .vote input[type= "text"]::placeholder{
    color: #fca311;
 
 }
 .vote input[type= "radio"]{
    background-color: #fca311;
    cursor: default;
    appearance: checkbox;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
    
 
 }
 .button-form {
    width: calc(100% - 60px);
    margin: 10px 0 10px 0;
    height: 36px;
    background-color: #e5e5e5;
    color: #fca311;
    text-align: center;
    border-radius: 18px;
  }


    
    